/**
 * Cette feuille de style contient le style specifique a l'aaplication. Il est
 * normalement appele apres le style de base ce qui permet de surcharger tous
 * les elements souhaites.
 * 
 * @package openmairie_exemple
 * @version SVN : $Id: specific.css 318 2010-12-06 12:16:35Z fmichon $
 */

/**
 * STRUCTURE HTML 
 */
/* Textes du header et du footer */
#actions, #shortlinks { color:#434343; }
#footer span { color:#434343; }
/* Liens du header et du footer */
#actions a, #actions a:active, #actions a:visited { color:#787878; }
#shortlinks a, #shortlinks a:active, #shortlinks a:visited { color:#787878; }
#footer a, #footer a:active, #footer a:visited { color:#787878; }
/* Couleur de fond du contenu et du footer */
#content, #footer span { background: #ffffff none; }

/**
 * MENU
 */
/* Items au survol et separateurs */
#menu li.elem:hover { background-color:#787878; }
#menu li.hr { background-color:#787878; height:0px; }
/* IE Fix */
* html #menu li { height:17px; }
/* Rubriks */
.edition-20 { background-image: url('../img/edition-20x20.png'); }
.parametrage-20 { background-image: url('../img/parametrage-20x20.png'); }
.traitement-20 { background-image: url('../img/traitement-20x20.png'); }
.administration-20 { background-image: url('../img/ico_admin.png'); }
.application-20 { background-image: url('../img/ico_appli.png'); }
/* Items */
.profil-16 { background-image: url('../img/profil-16x16.png'); }
.droit-16 { background-image: url('../img/droit-16x16.png'); }
.utilisateur-16 { background-image: url('../img/utilisateur-16x16.png'); }
.etat-16 { background-image: url('../img/pdf-16x16.png'); }
.sousetat-16 { background-image: url('../img/pdf-16x16.png'); }
.lettretype-16 { background-image: url('../img/pdf-16x16.png'); }
.collectivite-16 { background-image: url('../img/collectivite-16x16.png'); }
.reqmo-16 { background-image: url('../img/reqmo-16x16.png'); }
.edition-16 { background-image: url('../img/pdf-16x16.png'); }
.generator-16 { background-image: url('../img/generator-16x16.png'); }
.backup-16 { background-image: url('../img/backup-16x16.png'); }
.import-16 { background-image: url('../img/import-16x16.png'); }

/**
 * FORM
 */

/**
 * TABLE
 */
/* Bordure de tableau */
/* Recherche */
div.tab-search { background:#ffffff none; }

/**
 * ONGLETS
 */
/* Survol des liens des onglets */
#content .ui-tabs-nav a:hover { text-decoration:none; }
/* Onglet selectionne : suppression de la bordure du bas */

/**
 * DIVERS
 */
/* Liste */
div.choice { background:#ffffff none; }
/* Fieldset */
