/**
 * Cette feuille de style contient le style specifique a l'aaplication. Il est
 * normalement appele apres le style de base ce qui permet de surcharger tous
 * les elements souhaites.
 * 
 * @package openmairie_exemple
 * @version SVN : $Id: specific.css 115 2010-10-01 09:03:11Z jbastide $
 */

/**
 * STRUCTURE HTML 
 */
/* Textes du header et du footer */
/* Liens du header et du footer */
#actions a, #actions a:active, #actions a:visited { color:#3383BB; }
#shortlinks a, #shortlinks a:active, #shortlinks a:visited { color:#3383BB; }
#footer a, #footer a:active, #footer a:visited { color:#3383BB; }
/* Couleur de fond du contenu et du footer */

/**
 * MENU
 */
/* Items au survol et separateurs */
#menu li.elem:hover { background-color:#3383BB; }
#menu li.hr { background-color:#3383BB; height:0px; }
/* IE Fix */
/* Rubriks */
/* Items */

/**
 * FORM
 */

/**
 * TABLE
 */
/* Bordure de tableau */
/* Recherche */

/**
 * ONGLETS
 */
/* Survol des liens des onglets */
/* Onglet selectionne : suppression de la bordure du bas */
#content .ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom:3px; }

/**
 * DIVERS
 */
/* Liste */
/* Fieldset */
